<section class="content-header">
    <h1>
        Cadastro de clientes
        <small>Preview</small>
    </h1>
    </section>

    <section class="content">
        <form role="form" autocomplete="off" #frmCliente="ngForm" role="form" (ngSubmit)="salvar(frmCliente.value)">
            <div class="box box-primary card">
                <div class="box-header with-border">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Salvar</button>
                    <div class="divider"></div>
                    <button type="button" label="Submit" class="btn btn-success" ><i class="fa fa-refresh"></i> Limpar</button>
                    <div class="divider"></div>
                    <button type="button" [routerLink]="['/clients']" class="btn btn-default"><i class="fa fa-reply"></i> Voltar</button>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Cliente</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Endereço</a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Licença</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="ui-g ui-fluid">
                                            <div class="ui-g-12 ui-lg-6"> 
                                                <div class="form-group">
                                                    <label for="inptNomeFantasia" class="required">Nome Fantasia</label>
                                                    <input type="text" class="form-control" id="inptNomeFantasia" #inptNomeFantasia="ngModel" name="inptNomeFantasia" [(ngModel)]="cliente.nomeFantasia" placeholder="Nome Fantasia" autocomplete="name" required>
                                                    <app-message [control]="inptNomeFantasia" [submit]="frmCliente.submitted" error="required" text="Informe o Nome Fantasia"></app-message>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-lg-6"> 
                                                <div class="form-group">
                                                    <label for="inptRezaoSocial" class="required">Razão Social</label>
                                                    <input type="text" class="form-control" id="inptRezaoSocial" #inptRazaoSocial="ngModel" name="inptRazaoSocial" [(ngModel)]="cliente.razaoSocial" placeholder="Razão Social" autocomplete="off" required>
                                                    <app-message [control]="inptRazaoSocial" [submit]="frmCliente.submitted" error="required" text="Informe a Razão Social"></app-message>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-lg-4"> 
                                                <div class="form-group">
                                                    <label for="inptCnpj" class="required">CNPJ</label>
                                                    <input type="text" class="form-control" id="inptCnpj" #inptCnpj="ngModel" name="inptCnpj" [(ngModel)]="cliente.cnpj" placeholder="CNPJ" autocomplete="off" mask="00.000.000/0000-00" cnpj required>
                                                    <app-message [control]="inptCnpj" [submit]="frmCliente.submitted" error="cnpj" text="CNPJ inválido"></app-message>
                                                    <app-message [control]="inptCnpj" [submit]="frmCliente.submitted" error="required" text="Informe o CNPJ"></app-message>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-lg-4"> 
                                                <div class="form-group">
                                                    <label for="inptInscEstadual" class="required">Inscrição Estadual</label>
                                                    <input type="text" class="form-control" id="inptInscEstadual" #inptInscEstadual="ngModel" name="inptInscEstadual" [(ngModel)]="cliente.inscricaoEstadual" placeholder="Inscrição Estadual" autocomplete="off" required>
                                                    <app-message [control]="inptInscEstadual" [submit]="frmCliente.submitted" error="required" text="Informe a Inscrição Estadual"></app-message>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-lg-4"> 
                                                <div class="form-group">
                                                    <label for="inptInscMunicipal" class="required">Inscição Municipal</label>
                                                    <input type="text" class="form-control" id="inptInscMunicipal" #inptInscMunicipal="ngModel" name="inptInscMunicipal" [(ngModel)]="cliente.inscricaoMunicipal" placeholder="Inscição Municipal" autocomplete="off" required/>
                                                    <app-message [control]="inptInscMunicipal" [submit]="frmCliente.submitted" error="required" text="Informe a Inscrição Municipal"></app-message>
                                                </div>
                                            </div>

                                            <div class="ui-g-12 ui-lg-3"> 
                                                <div class="form-group">
                                                    <label for="inptTelefone" class="required">Telefone</label>
                                                    <input type="text" class="form-control" id="inptTelefone" #inptTelefone="ngModel" name="inptTelefone" [(ngModel)]="cliente.telefone" placeholder="Telefone" data-inputmask='"mask": "(99) 99999-9999"' data-mask autocomplete="tel" required>
                                                    <app-message [control]="inptTelefone" [submit]="frmCliente.submitted" error="required" text="Informe o Telefone"></app-message>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-lg-3"> 
                                                <div class="form-group">
                                                    <label for="inptCelular">Celular</label>
                                                    <input type="text" class="form-control" id="inptCelular" #inptCelular="ngModel" name="inptCelular" [(ngModel)]="cliente.celular" placeholder="Celular" autocomplete="tel">
                                                    <app-message [control]="inptCelular" [submit]="frmCliente.submitted" error="required" text="Informe o Celular"></app-message>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-lg-6"> 
                                                <div class="form-group">
                                                    <label for="inptEmail" class="required">E-mail</label>
                                                    <input type="email" class="form-control" id="inptEmail" #inptEmail="ngModel" name="inptEmail" [(ngModel)]="cliente.email" placeholder="E-mail" autocomplete="email" required email>
                                                    <app-message [control]="inptEmail" [submit]="frmCliente.submitted" error="email" text="Informe um e-mail válido"></app-message>
                                                    <app-message [control]="inptEmail" [submit]="frmCliente.submitted" error="required" text="Informe o E-mail"></app-message> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_2">
                                        <div class="ui-g ui-fluid">
                                            <div class="ui-g-12 ui-lg-3"> 
                                                <div class="form-group">
                                                    <label for="inptCEP" class="required">CEP</label>
                                                    <input type="text" class="form-control" id="inptCEP" #inptCEP="ngModel" name="inptCEP" [(ngModel)]="cliente.endereco.cep" (keyup)="consultarCep(inptCEP.value)" placeholder="CEP" autocomplete="postal-code" mask="00000-000" required>
                                                    <app-message [control]="inptCEP" [submit]="frmCliente.submitted" error="required" text="Informe o CEP"></app-message>
                                                </div>
                                            </div> 
                                            <div class="ui-g-12 ui-lg-7"> 
                                                <div class="form-group">
                                                    <label for="inptLogradouro" class="required">Logradouro</label>
                                                    <input type="text" class="form-control" id="inptLogradouro" #inptLogradouro="ngModel" name="inptLogradouro" [(ngModel)]="cliente.endereco.logradouro" placeholder="Logradouro" autocomplete="off" required>
                                                    <app-message [control]="inptLogradouro" [submit]="frmCliente.submitted" error="required" text="Informe o Logradouro"></app-message>
                                                </div>
                                            </div> 
                                            <div class="ui-g-12 ui-lg-2"> 
                                                <div class="form-group">
                                                    <label for="inptNumero" class="required">Número</label>
                                                    <input type="text" class="form-control" id="inptNumero" #inptNumero="ngModel" name="inptNumero" [(ngModel)]="cliente.endereco.numero" placeholder="Número" autocomplete="family-name" required>
                                                    <app-message [control]="inptNumero" [submit]="frmCliente.submitted" error="required" text="Informe o Número"></app-message>
                                                </div>
                                            </div> 
                                            
                                            <div class="ui-g-12 ui-lg-4"> 
                                                <div class="form-group">
                                                    <label for="inptComplemento">Complemento</label>
                                                    <input type="text" class="form-control" id="inptComplemento" #inptComplemento="ngModel" name="inptComplemento" [(ngModel)]="cliente.endereco.complemento" placeholder="Complemento" autocomplete="off">
                                                </div>
                                            </div> 
                                            <div class="ui-g-12 ui-lg-8"> 
                                                <div class="form-group">
                                                    <label for="inptBairro" class="required">Bairro</label>
                                                    <input type="text" class="form-control" id="inptBairro" id="inptBairro" #inptBairro="ngModel" name="inptBairro" [(ngModel)]="cliente.endereco.bairro" placeholder="Bairro" autocomplete="off" required>
                                                    <app-message [control]="inptBairro" [submit]="frmCliente.submitted" error="required" text="Informe o Bairro"></app-message>
                                                </div>
                                            </div> 
                                            <div class="ui-g-12 ui-lg-6"> 
                                                <div class="form-group">
                                                    <label for="inptMunicipio" class="required">Cidade</label>
                                                    <input type="text" class="form-control" id="inptMunicipio" #inptMunicipio="ngModel" name="inptMunicipio" [(ngModel)]="cliente.endereco.municipio" placeholder="Município" autocomplete="address-level2" required/>
                                                    <app-message [control]="inptMunicipio" [submit]="frmCliente.submitted" error="required" text="Informe o Município"></app-message>
                                                </div>
                                            </div> 
                                            
                                            <div class="ui-g-12 ui-lg-6"> 
                                                <div class="form-group">
                                                    <label for="inptEstado" class="required">Estado</label>
                                                    <select class="form-control select2" id="inptEstado" #inptEstado="ngModel" name="inptEstado" [(ngModel)]="cliente.endereco.uf" required style="width: 100%;">
                                                        <option selected="selected" [ngValue]="undefined">Selecione</option>
                                                        <option *ngFor="let uf of ufs" [ngValue]="uf">{{ uf.estado }}</option>
                                                    </select>
                                    
                                                    <app-message [control]="inptEstado" [submit]="frmCliente.submitted" error="required" text="Informe o Estado"></app-message>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_3">
                                        <div class="ui-g ui-fluid">
                                            <div class="ui-g-12 ui-lg-2"> 
                                                <div class="form-group">
                                                    <label for="inptQuantidadePDV" class="required">Quant. PDVs</label>
                                                    <input type="number" class="form-control" id="inptQuantidadePDV" #inptQuantidadePDV="ngModel" name="inptQuantidadePDV" [(ngModel)]="cliente.licenca.quantidadePdvs" placeholder="Quant. PDVs" autocomplete="off" min="1" required>
                                                    <app-message [control]="inptQuantidadePDV" [submit]="frmCliente.submitted" error="required" text="Informe a Quantidade de PDVs"></app-message>
                                                </div>
                                            </div>

                                            <div class="ui-g-12 ui-lg-2"> 
                                                <div class="form-group">
                                                    <label for="inptValorPorPDV" class="required">Valor por PDV</label>
                                                    <input type="text" class="form-control" id="inptValorPorPDV" #inptValorPorPDV="ngModel" name="inptValorPorPDV" [(ngModel)]="cliente.licenca.valorPorPdv" placeholder="Valor por PDV" autocomplete="off" required>
                                                    <app-message [control]="inptValorPorPDV" [submit]="frmCliente.submitted" error="required" text="Informe o Valor por PDV"></app-message>
                                                </div>
                                            </div>

                                            <div class="ui-g-12 ui-lg-2"> 
                                                <div class="form-group">
                                                    <label for="inptPeriodoDeRenovacao" class="required">Período de renovação</label>
                                                    <input type="text" class="form-control" id="inptPeriodoDeRenovacao" #inptPeriodoDeRenovacao="ngModel" name="inptPeriodoDeRenovacao" [(ngModel)]="cliente.licenca.periodoRenovacao" placeholder="Período de renovação" autocomplete="off" required>
                                                    <app-message [control]="inptPeriodoDeRenovacao" [submit]="frmCliente.submitted" error="required" text="Informe o Perído de Renovação"></app-message>
                                                </div>
                                            </div>

                                            <div class="ui-g-12 ui-lg-2"> 
                                                <div class="form-group date">
                                                    <label for="inptVencimentoLicenca" class="required">Vencimento Licença</label>
                                                    <input type="text" class="form-control pull-right datepicker" id="inptVencimentoLicenca" #inptVencimentoLicenca="ngModel" name="inptVencimentoLicenca" [(ngModel)]="vencimentoLicenca" placeholder="Vencimento Licença" autocomplete="off" required>
                                                    <app-message [control]="inptVencimentoLicenca" [submit]="frmCliente.submitted" error="required" text="Informe o Vencimento da Licença"></app-message>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </form>
</section>
