  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU DE NAVEGAÇÃO</li>
        <li class="" routerLinkActive="active">
          <a [routerLink]="['/dashboard']">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview link-pointer" routerLinkActive="active menu-open">
          <a href="#">
            <i class="fa fa-list-ul"></i> <span>Cadastro</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="" routerLinkActive="active"><a [routerLink]="['/clients']"><i class="fa fa-users"></i> Cliente</a></li>
            <li class="" routerLinkActive="active"><a [routerLink]="['/dashboard']"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
