/* You can add global styles to this file, and also import other style files */

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

button.icon-label i {
    padding-right:10px;
}

label.required:after {
    color: #dd4b39;
    content: " *";
}

.swal2-popup {
    font-size: 1.4rem !important; 
}

.form-control.ng-valid:not(form)  {
    border-left: 3px solid #00a65a; /* green */
}

.form-control.ng-invalid:not(form)  {
    border-left: 3px solid #dd4b39; /* red */
}
